# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# test report
target
 
# Eclipse files, folders and configurations
.classpath

#IntellJ files
.idea/
#.project
.settings/
bin/

# Mac OS
/**/.DS_Store

# Webdriver logs
webdriver_logs/
